body,
html {
    background: black;
    color: white;
    overflow: hidden;
    font-family: 'IBM Plex Mono', monospace;
}

.preload_font {
    font-family: 'IBM Plex Mono', monospace;
    position: absolute;
    top: -100px;
    left: -100px;
}

.username {
    cursor: default;
    font-size: 48px;
    display: inline-block;
    letter-spacing: 10px;
}

.username:hover {
    color: gold;
}

.holder {
    position: absolute;
    top: 0;
}

.no_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.socials {
    position: fixed;
    bottom: 16px;
    right: 26px;
}

.socials img {
    filter: invert(1);
    width: 32px;
}

.screensaver .socials {
    display: none;
}

.resume {
    position: fixed;
    bottom: 0px;
    left: 0;
    padding: 20px;
    background: black;
    z-index: 1;
    text-align: center;
    display: none;
}

.resume a {
    border: solid 1px white;
    padding: 10px 20px;
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

.resume a:hover {
    background: white;
    color: black;
}